*,*::after,*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    padding: 15px;
    background-image: url(../img/light-wooden-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    margin: auto;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    margin: 20px;
    color: black;
    text-shadow: 11px 4px 2px rgba(0, 0, 0, 0.288);
    letter-spacing: 7px;
}

.noteInputField {
    position: relative;
    height: 600px;
    width: 70%;
    background: url('../img/sticky_note_PNG18920.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin: auto;
    padding: 20px;
    overflow: auto;
    box-shadow: 11px 1px 7px 0px rgba(0, 0, 0, 0.288);
}

input, textarea, button {
    border: none;
    outline: none;
    background: transparent;
}

textarea {
    height: 80%;
    width: 95%;
    font-size: 48px;
    vertical-align: top;
    resize: none;
    margin: auto;
}

label {
    font-size: 24px;
    margin-left: 10px;
}

.noteInputField__buttons {
    position: absolute;
    top: 35px;
    right: 45px;
    width: 15%;
}

.fa {
    color: cadetblue;
    font-size: 30px;
    cursor: pointer;
}

.fa:hover {
    font-size: 34px;
    text-shadow: 2px 2px 2px cadetblue;
}

@keyframes fadeInNew {
    from {
        opacity: 0;
        transform: rotate(5deg);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-70px) rotate(5deg);
    }
    to {
        opacity: 1;
    }
}


.content {
    margin-top: 30px;
}

.createdNote {
    background-image: url(../img/Note-PNG-File.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 350px;
    width: 250px;
    padding: 50px;
    animation: fadeIn 5s;
    transform: rotate(-5deg);
    margin: 10px;
}

.createdNote:nth-child(1) {
    animation: fadeInNew 5s;

}

.createdNote p {
    display: block;
    font-size: 24px;
    height: 70%;
    overflow-y: auto;
    margin: 30px 0 20px 0;
}

.removeIcon {
    height: 15px;
}

.glyphicon-remove {
    display: none;
    text-align: right;
    cursor: pointer;
}

.createdNote:hover .glyphicon-remove {
    display: block;
}

.glyphicon-remove:hover {
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.267);
}

::-webkit-scrollbar-thumb:hover {
    background-color: black;
}